/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  /* Container principal */
  .app-container {
    width: 100vw;
    height: 200vh; /* Altura maior para permitir rolagem */
    overflow-x: hidden; /* Remove o scroll horizontal */
    overflow-y: auto; /* Permite o scroll vertical */
  }
  
  /* Seção do título "MEUS PROJETOS" */
  .projetos-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* A altura da tela inicial será 100% da tela */
    width: 100vw;
    background: black; /* Fundo preto */
    position: relative;
  }
  
  /* Título */
  .meus-projetos {
    font-size: 5rem;
    color: white; /* Título branco */
    position: relative;
    z-index: 10; /* Garantir que o título esteja acima de outros elementos */
  }
  
  /* Seta para indicar o scroll */
  .arrow-down {
    position: absolute;
    bottom: 30px; /* Coloca a seta logo abaixo do título */
    font-size: 5rem;
    color: white;
    cursor: pointer;
    animation: float 1.5s ease-in-out infinite; /* Animação de flutuação */
  }
  
  /* Animação de flutuação da seta */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* A seta sobe 10px */
    }
    100% {
      transform: translateY(0); /* A seta desce de volta */
    }
  }
  