@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

header {
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #2E2E2E;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover{
  filter: drop-shadow(0px 0px 5px black); /* Adicionando sombra com filtro */
  scale: 1.02;
}

.logo img {
  width: 120px;
}

/* Botão do menu hambúrguer */
.hamburger-lines {
  display: none; /* Por padrão o botão de hambúrguer está escondido */
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 26px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100; /* Garante que o botão fique acima do menu */
  position: relative;
}

.hamburger-lines .line {
  width: 100%;
  height: 5px;
  background-color: #D6CFE1;
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Animação das linhas */
.hamburger-lines.open .line1 {
  margin-left: 6px;
  transform: rotate(45deg) translateY(15px);
}

.hamburger-lines.open .line2 {
  opacity: 0;
}

.hamburger-lines.open .line3 {
  margin-left: 6px;
  transform: rotate(-45deg) translateY(-15px);
}

/* Menu lateral */
nav {
  position: fixed;
  top: 0;
  right: -100%; /* Menu começa fora da tela */
  width: 250px;
  background: #2E2E2E;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  transition: right 0.3s ease-in-out; /* Animação para abrir e fechar */
  z-index: 1000;
  font-size: 18px;
  padding-top: 0px;
  height: 100vh; /* Menu ocupa toda a altura da tela */
  overflow: hidden;
}

nav.open {
  right: 0; /* Menu aparece quando 'open' é adicionado */
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: center;
  gap: 15px;
}


nav ul li {
  margin: 25px 0 10px 0px;
  position: relative;
  display: inline-block;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #D6CFE1;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

nav ul li:hover::after {
  width: 100%;
  left: 50;
}

nav ul li a {
  color: #D6CFE1;
  text-decoration: none;
}

nav ul li a:hover {
  color: #D6CFE1;
  text-shadow: 0px 0px 20px #000000;
}

/* Responsividade - Menu e botão de hambúrguer em telas menores que 900px */
@media (max-width: 900px) {
  .hamburger-lines {
    display: flex; /* Exibe o botão de hambúrguer */
    margin-right: 50px;
  }

  /* O menu é escondido até o botão ser clicado */
  nav {
    right: -100%; /* Mantém o menu escondido */
    height: 60vh; /* Define a altura do menu quando aberto em telas pequenas */
    overflow: hidden;
    border-bottom-left-radius: 30px;
  }

  nav.open {
    right: 0; /* Menu aparece quando 'open' é adicionado */
  }
  
  nav ul {
    width: 100%; /* Garante que o menu ocupe toda a largura disponível */
    margin: 0; /* Remove margens automáticas */
  }
  nav ul li {
    display: inline-block; /* Permite que a linha seja limitada ao texto */
  }
  
  nav ul li::after {
    left: 50; /* A linha vai começar da borda esquerda do texto */
    width: 0; /* Começa com a linha invisível */
  }

  nav ul li:hover::after {
    width: 30%; /* Quando o item for hovered, a linha vai ocupar toda a largura do texto */
  }
}

/* Para telas grandes, o menu deve ser exibido normalmente */
@media (min-width: 901px) {
  nav {
    position: static; /* Menu fica no fluxo normal da página */
    width: 60vw;
    background-color: transparent;
    right: 0; /* Menu é exibido normalmente sem animação */
    height: auto; /* Garante que o menu tenha altura automática */
    overflow: visible; /* O conteúdo será visível e o menu ocupará seu espaço natural */
  }

  nav ul {
    flex-direction: row; /* Exibe os itens de forma horizontal */
    gap: 20px;
  }

  nav ul li {
    margin: 0 20px; /* Ajuste de espaçamento */
  }

  .hamburger-lines {
    display: none; /* Esconde o botão de hambúrguer em telas grandes */
  }
}