@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: -20px;
    margin-bottom: 50px;
}


.titles{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.welcome{
    color: white;
    transition: 0.3s ease-in-out;
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    letter-spacing: 2px;
}
.welcome:hover{
    color: #D6CFE1;
}

.texts{
    max-width: 650px;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-container{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Estilo do título */
.intro-title, .highlight {
    font-family: 'Inter', sans-serif;  /* Fonte moderna e legível */
    font-size: 18px; /* Tamanho adequado para o título */
    font-weight: 700; /* Negrito para dar ênfase */
    color: white; /* Cor escura para o título */
    margin: 0 0 0 0;  /* Adiciona um espaçamento abaixo do título */
    line-height: 1.4;  /* Melhora o espaçamento entre as linhas */
  }
  
/* Estilo específico para a parte "Sou desenvolvedor front-end" */
/* Estilo para a parte fixa "Sou" */
h2 span.fixed {
    color: white; /* Azul para "Sou" */
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 1.5px black;
    cursor: pointer;
  }
  
  /* Estilo para as palavras que vão alternar (desenvolvedor front-end, front-end developer) */
  h2 span.changing {
    color: #A69C94; /* Cor diferente para as palavras que alternam (vermelho) */
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 1.5px #D6CFE1;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  h2 span.changing:hover{
    color: #D6CFE1;
  }
  
  .typing-cursor{
    margin-left: 2px;
    border-radius: 4px;
    background-color: white;
  }


  .div-changing{
    min-width: 400px;
  }
/* Animação para o ícone de rolar */
@keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Desce 20px */
    }
    100% {
      transform: translateY(0); /* Sobe de volta para a posição inicial */
    }
  }
  
  /* Estilo do contêiner do ícone (ajustando o topo para centralizar) */
  .scroll-a {
    margin-top: 18%;
    display: inline-block;
  }
  
  /* Estilo do ícone de rolar */
  .scroll {
    color: white;
    font-size: 25px;
    animation: scrollAnimation 1s ease-in-out infinite; /* Animação contínua */
  }
  @media (min-width: 950px){
    .welcome{
      margin-top: 10% !important;
      font-size: 100px !important;
      font-size: 7.5rem !important;
    }
    .intro-title{
      font-size: 22px !important;
    }
    .scroll-a{
      margin-top: 15%;
    }
  }
  @media (min-width: 650px){
    .titles{
      width: 70vw;
      margin-top: -12%;
    }
    .welcome{
        font-size: 85px;
        text-align: center;
        margin-bottom: 0;
        margin-top: -10%;
    }
    .texts{
      margin-top:7vh;
    }
  }
  @media (max-width: 650px){
    .texts{
        width: 70vw;
        margin-top: -12%;
    }
    .fixed{
        font-size: 18px;
    }
    .changing{
        font-size: 18px;
    }
    .titles{
        width: 90%;
    }
    .welcome{
        font-size: 80px;
        text-align: left;
        margin-top: -30%;
        margin-bottom: 25%;
    }
    .div-changing{
      padding-left: 80px;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-top: 20px;
      width: 100px;
    }
    h2 span.fixed{
      font-size: 22px;
    }
    h2 span.changing{
      font-size: 24px;
    }
    .scroll-a{
      margin-top: 5%;
    }
  }

  @media (max-width: 480px){
    .titles{
      margin-top: -30%;
    }
    .texts{
      padding-left: 60px;
    }
    h2 span.fixed{
      font-size: 20px;
      margin-left: 15px;
    }
    h2 span.changing{
      font-size: 22px;
    }
  }