@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container-global-skills{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}
  /* Container do título */
  .titles_background {
    position: relative;
    text-align: center; /* Centraliza o conteúdo dentro do container */
    font-family: 'Bebas Neue';
  }

  .main-title {
    font-size: 3.5rem;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    color: #D6CFE1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }

  .main-title:hover{
    color: white;
  }

  /* Título de fundo */
  .background-title-skills {
    position: absolute;
    top: 50%; /* Coloca o título no meio do container */
    left: 50%;
    transform: translate(-50%, -95%); /* Centraliza perfeitamente */
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.205);
    font-weight: bolder;
    z-index: -1;
    white-space: nowrap;
  }

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
  }
  
  .skills-sidebar {
    width: 25%;
    padding: 10px;
    border-right: 2px solid white;
  }
  
  .skills-sidebar button {
    display: block;
    font-family: 'Bebas Neue';
    width: 100%;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #525252;
    font-size: 22px;
    letter-spacing: 1px;
    transition: background 0.3s;
    text-align: center;
  }
  
  .skills-sidebar button.active {
    background-color: #D6CFE1;
    color: black;
  }
  
  .skills-list {
    width: 75%;
  }
  
  .skill-item {
    margin-bottom: 18px;
  }
  
  .skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-family: 'Inter';
  }
  
  .skill-bar {
    width: 100%;
    height: 10px;
    background-color: #3a3a3a;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skill-fill {
    height: 100%;
    background-color: #D6CFE1;
    transition: width 0.5s ease-in-out;
  }
  

  @media (max-width: 850px){
    .container-global-skills{
     margin-top: 45%;
    }
    .skills-container{
        margin-top: 20px;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: start;
        height: 300px;
    }
    .skills-sidebar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width:65%;
        gap: 20px;
        padding: 10px;
        border-right: none;
        border-bottom: 2px solid white;
      }
  }

  @media (max-width: 600px){
    .container-global-skills{
      height: 500px;
      
      margin-top: 75%;
    }
    .skills-sidebar{
        width: 90%;
    }

    .skills-sidebar button{
        font-size: 16px;
        height: 100%;
    }

    .background-title-skills{
        font-size: 6.5rem;
        transform: translate(-50%, -92%);
    }
  }

  @media (max-width: 450px){
    .container-global-skills{
      margin-top: 180%;
    }
  }